<!-- Page Heading -->
<section class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Learning</h1>
            </div>
            <div class="col-md-6">
                <ul class="breadcrumb">
                    <li><a href="{{url('makoto_cms_homepage')}}">Makoto's DNA</a></li>
                    <li><a href="{{url('cms_makoto_pages' , {'template_name' : 'service' , '_format': 'makoto'} )}}">Services</a></li>
                    <li class="active">Consulting</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Page Heading / End -->

<!-- Page Content -->
<section class="page-content">
    <div class="container">
        
        <div class="row">
            <div class="col-md-8">
                <div class="icon-box squared icon-box-animated">
                    <div class="icon">
                        <i class="fa fa-check-square-o"></i>
                    </div>
                    <div class="icon-box-body">
                        <div class="title-accent">
                        <h3>Kaizen Training Workshops</h3>
                        </div>
                        <div class="list">
                            <ul>
                                <li>Curriculum /  Training Packages (Onlinelean.com; Certifications; Schedule)</li>
                                <li>Seminars/Key Notes (Academia vs. Industry)</li>
                                <li>Testimonials/Videos (Standard for all sections)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img src="{{ asset('assets/images/learning.jpg') }}" width="100%">
            </div>
        </div>
    </div>
</section>
<!-- Page Content / End -->