<!-- Page Heading -->
<section class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Unique Offerings in the Marketplace</h1>
            </div>
            <div class="col-md-6">
                <ul class="breadcrumb">
                    <li><a href="{{url('makoto_cms_homepage')}}">Makoto's DNA</a></li>
                    <li><a href="{{url('cms_makoto_pages' , {'template_name' : 'service' , '_format': 'makoto'} )}}">Services</a></li>
                    <li class="active">Consulting</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Page Heading / End -->

<!-- Page Content -->
<section class="page-content">
    <div class="container">
        
        <div class="row">
            <div class="col-md-4">
                <div class="icon-box squared icon-box-animated">
                    <div class="icon">
                        <i class="fa fa-check-square-o"></i>
                    </div>
                    <div class="icon-box-body">
                        <div class="title-accent">
                        <h3>Being effective overseas!</h3>
                        </div>
                        <img src="{{asset("assets/images/being.jpg")}}" width="100%">
                        A lot of Japanese are going overseas but cultural and linguistic issues keep them from being as effective as they could be.  Learn the do’s and don’ts before getting on the plane. 
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-box squared icon-box-animated">
                    <div class="icon">
                        <i class="fa fa-check-square-o"></i>
                    </div>
                    <div class="icon-box-body">
                        <div class="title-accent">
                        <h3>How to be a successful lean leader in Japan?</h3>
                        </div>
                        <img src="{{asset("assets/images/successful.jpg")}}" width="100%">
                        Japan has a lot of unwritten rules, which once understood open the whole country up to you.  Learn in a short period how you can be effective and make inroads into the Japan market with us. 
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>

    </div>
</section>
<!-- Page Content / End -->