<div class="container text-center " data-animation="fadeInDown">  
<div class="title-accent">
<h3 id="timeline">
<span>
DRIVING
</span>
KAIZEN
</h3>
</div>
<img width="100%" src="{{asset("assets/images/water.jpg")}}">
</div>