<section class="page-content">
	<div class="container">
		<section class="section-light section-bottom" data-animation="fadeInUp">
			<!-- Testimonials Slider -->
			<div class="owl-carousel owl-theme owl-slider owl-testi">
				<div class="item">
					<blockquote>
						<p>In vitae lacus consequat, commodo tortor sed, porttitor dolor. Morbi eu nisl ultrices, pulvinar ligula vitae, ullamcorper massa. Sed malesuada ut magna vitae scelerisque.</p>
					</blockquote>
					<cite>John Doe, Themeforest</cite>
				</div>
				<div class="item">
					<blockquote>
						<p>In vitae lacus consequat, commodo tortor sed, porttitor dolor. Morbi eu nisl ultrices, pulvinar ligula vitae, ullamcorper massa. Sed malesuada ut magna vitae scelerisque.</p>
					</blockquote>
					<cite>Michael Smith, Photodune</cite>
				</div>
				<div class="item">
					<blockquote>
						<p>In vitae lacus consequat, commodo tortor sed, porttitor dolor. Morbi eu nisl ultrices, pulvinar ligula vitae, ullamcorper massa. Sed malesuada ut magna vitae scelerisque.</p>
					</blockquote>
					<cite>Liza White, Codecanyon</cite>
				</div>
			</div>
			<!-- Testimonials Slider / End -->
		</section>
	</div>
</section>