<section class="page-content">
	<div class="container">					
		<div class="row">
			<div class="visible-md visible-lg col-md-3">
				<img src="{{asset("bundles/stability/images/samples/woman-img.png")}}" alt="" class="img-responsive" data-animation="fadeInLeft" data-animation-delay="0">
			</div>
			<div class="col-md-3">
				<div class="visible-sm visible-xs spacer"></div>
				<div class="icon-box circled sm bordered icon-box-animated" data-animation="fadeInUp" data-animation-delay="200">
					<div class="icon">
						<i class="fa fa-rocket"></i>
					</div>
					<div class="icon-box-body">
						<h4>Ready To Use</h4>
						Proin gravida nibh vel velit auctor enean sollicitud lorem quis bibendum auctor.
					</div>
				</div>
				<div class="spacer"></div>
				<div class="icon-box circled sm bordered icon-box-animated" data-animation="fadeInUp" data-animation-delay="200">
					<div class="icon">
						<i class="fa fa-html5"></i>
					</div>
					<div class="icon-box-body">
						<h4>Html5</h4>
						Proin gravida nibh vel velit auctor enean sollicitud lorem quis bibendum auctor.
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="visible-sm visible-xs spacer"></div>
				<div class="icon-box circled sm bordered icon-box-animated" data-animation="fadeInUp" data-animation-delay="400">
					<div class="icon">
						<i class="fa fa-user"></i>
					</div>
					<div class="icon-box-body">
						<h4>Individual Approach</h4>
						Proin gravida nibh vel velit auctor enean sollicitud lorem quis bibendum auctor.
					</div>
				</div>
				<div class="spacer"></div>
				<div class="icon-box circled sm bordered icon-box-animated" data-animation="fadeInUp" data-animation-delay="400">
					<div class="icon">
						<i class="fa fa-css3"></i>
					</div>
					<div class="icon-box-body">
						<h4>CSS3</h4>
						Proin gravida nibh vel velit auctor enean sollicitud lorem quis bibendum auctor.
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="visible-sm visible-xs spacer"></div>
				<div class="icon-box circled sm bordered icon-box-animated" data-animation="fadeInUp" data-animation-delay="600">
					<div class="icon">
						<i class="fa fa-heart"></i>
					</div>
					<div class="icon-box-body">
						<h4>Made with love</h4>
						Proin gravida nibh vel velit auctor enean sollicitud lorem quis bibendum auctor.
					</div>
				</div>
				<div class="spacer"></div>
				<div class="icon-box circled sm bordered icon-box-animated" data-animation="fadeInUp" data-animation-delay="600">
					<div class="icon">
						<i class="fa fa-eye"></i>
					</div>
					<div class="icon-box-body">
						<h4>Retina Ready</h4>
						Proin gravida nibh vel velit auctor enean sollicitud lorem quis bibendum auctor.
					</div>
				</div>
			</div>
		</div>
	</div>
</section>