<!-- Footer -->
            <footer class="footer" id="footer">
              <div class="footer-widgets">
                <div class="container">
                  <div class="row">
                    <div class="col-md-9">
                      <!-- Widget :: Text Widget -->
                      <div class="widget_text widget widget__footer">
                        <h3 class="widget-title">About Us</h3>
                        <div class="widget-content">
                          <p>It’s been over 26 years since we started on the Lean journey. In that journey we have visited over 200 companies, organized over 200 trips to Japan to see some of the best lean companies in the world. We have also had the privilege of teaching Lean thinking around the world (25 countries) and learning from those experiences.</p>
                          <p>Our greatest joy is seeing our customers surpass us in great ideas and taking their companies’ further in lean than we would have been able to. They are our life-long friends and partners.</p>

                          <a href="{{ url('cms_makoto_pages' , {'template_name' : 'contact' , '_format' : 'jsp'} ) }}" class="btn btn-primary">Read More</a>
                        </div>
                      </div>
                      <!-- /Widget :: Text Widget -->
                    </div>
                    <div class="col-md-3">
                      <!-- Widget :: Contacts Info -->
                      <div class="contacts-widget widget widget__footer">
                        <h3 class="widget-title">Contact Us</h3>
                        <div class="widget-content">
                          <ul class="contacts-info-list">
                            <li>
                              <i class="fa fa-map-marker"></i>
                              <div class="info-item">
                                Suite 3A Alphatown Kagurazaka2-9 Kagurazaka, Shinjuku-ku Tokyo 162-0825 Japan
                              </div>
                            </li>
                            <li>
                                <i class="fa fa-facebook"></i>
                                <div class="info-item">
                                <a href="https://www.facebook.com/pages/Makoto-Investments-Ltd/306220866204523" target="_blank">Makoto Investments Ltd</a>
                                </div>

                            </li>
                            <li>
                              <i class="fa fa-phone"></i>
                              <div class="info-item">
                                Tel:+81 3-5579-8020<br>
                                Fax:+81 3-5579-8026
                              </div>
                            </li>
                            <li>
                              <i class="fa fa-envelope"></i>
                              <div class="info-item">
                                <a href="dduarte@makoto-investments.com">Consulting Services-DJ Duarte</a>
                                <a href="mailto:info@dan-fisher.com">President-Brad Schmidt</a><br>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- /Widget :: Contacts Info -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="footer-copyright">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6 col-md-4">
                      Copyright &copy; 2013-2014  <a href="{{url('makoto_cms_homepage')}}">Makoto</a> &nbsp;| &nbsp;All Rights Reserved.
                    </div>
                    <div class="col-sm-6 col-md-8">
                    </div>
                  </div>
                </div>
              </div>
            </footer>
            <!-- Footer / End -->
