            <section class="page-content">
                <div class="container">
                    
                    <div class="clearfix">
                        <!-- Project Feed Filter -->
                        <ul class="project-feed-filter text-center">
                            <li><a href="#" class="btn btn-sm btn-default btn-primary" data-filter="*">All</a></li>
                            <li><a href="#" class="btn btn-sm btn-default" data-filter=".design">Design</a></li>
                            <li><a href="#" class="btn btn-sm btn-default" data-filter=".illustration">Illustration</a></li>
                            <li><a href="#" class="btn btn-sm btn-default" data-filter=".graphic">Graphic</a></li>
                            <li><a href="#" class="btn btn-sm btn-default" data-filter=".logo">Logo</a></li>
                        </ul>
                        <!-- Project Feed Filter / End -->
                    </div>
                </div>

                <!-- Project Feed -->
                <div class="project-feed project-feed__fullw">
                   <div class="project-item design logo">
                        <div class="project-item-inner">
                            <figure class="alignnone project-img">
                                <img src="images/samples/work-img-1.jpg" alt="" />
                                <div class="overlay">
                                    <a href="portfolio-single.html" class="dlink"><i class="fa fa-link"></i></a>
                                    <a href="http://placehold.it/700x430" class="popup-link zoom"><i class="fa fa-search-plus"></i></a>
                                </div>
                            </figure>
                        </div>
                   </div>

                   <div class="project-item illustration design">
                        <div class="project-item-inner">
                            <figure class="alignnone project-img">
                                <img src="images/samples/work-img-2.jpg" alt="" />
                                <div class="overlay">
                                    <a href="portfolio-single.html" class="dlink"><i class="fa fa-link"></i></a>
                                    <a href="http://placehold.it/700x430" class="popup-link zoom"><i class="fa fa-search-plus"></i></a>
                                </div>
                            </figure>
                        </div>
                   </div>

                   <div class="project-item graphic">
                        <div class="project-item-inner">
                            <figure class="alignnone project-img">
                                <img src="images/samples/work-img-3.jpg" alt="" />
                                <div class="overlay">
                                    <a href="portfolio-single.html" class="dlink"><i class="fa fa-link"></i></a>
                                    <a href="http://placehold.it/700x430" class="popup-link zoom"><i class="fa fa-search-plus"></i></a>
                                </div>
                            </figure>
                        </div>
                   </div>

                   <div class="project-item logo">
                        <div class="project-item-inner">
                            <figure class="alignnone project-img">
                                <img src="images/samples/work-img-4.jpg" alt="" />
                                <div class="overlay">
                                    <a href="portfolio-single.html" class="dlink"><i class="fa fa-link"></i></a>
                                    <a href="http://placehold.it/700x430" class="popup-link zoom"><i class="fa fa-search-plus"></i></a>
                                </div>
                            </figure>
                        </div>
                   </div>

                   <div class="project-item design">
                        <div class="project-item-inner">
                            <figure class="alignnone project-img">
                                <img src="images/samples/work-img-5.jpg" alt="" />
                                <div class="overlay">
                                    <a href="portfolio-single.html" class="dlink"><i class="fa fa-link"></i></a>
                                    <a href="http://placehold.it/700x430" class="popup-link zoom"><i class="fa fa-search-plus"></i></a>
                                </div>
                            </figure>
                        </div>
                   </div>

                   <div class="project-item illustration graphic">
                        <div class="project-item-inner">
                            <figure class="alignnone project-img">
                                <img src="images/samples/work-img-6.jpg" alt="" />
                                <div class="overlay">
                                    <a href="portfolio-single.html" class="dlink"><i class="fa fa-link"></i></a>
                                    <a href="http://placehold.it/700x430" class="popup-link zoom"><i class="fa fa-search-plus"></i></a>
                                </div>
                            </figure>
                        </div>
                   </div>

                   <div class="project-item graphic">
                        <div class="project-item-inner">
                            <figure class="alignnone project-img">
                                <img src="images/samples/work-img-7.jpg" alt="" />
                                <div class="overlay">
                                    <a href="portfolio-single.html" class="dlink"><i class="fa fa-link"></i></a>
                                    <a href="http://placehold.it/700x430" class="popup-link zoom"><i class="fa fa-search-plus"></i></a>
                                </div>
                            </figure>
                        </div>
                   </div>

                   <div class="project-item design illustration">
                        <div class="project-item-inner">
                            <figure class="alignnone project-img">
                                <img src="images/samples/work-img-8.jpg" alt="" />
                                <div class="overlay">
                                    <a href="portfolio-single.html" class="dlink"><i class="fa fa-link"></i></a>
                                    <a href="http://placehold.it/700x430" class="popup-link zoom"><i class="fa fa-search-plus"></i></a>
                                </div>
                            </figure>
                        </div>
                   </div>

                   <div class="project-item graphic logo">
                        <div class="project-item-inner">
                            <figure class="alignnone project-img">
                                <img src="images/samples/work-img-1.jpg" alt="" />
                                <div class="overlay">
                                    <a href="portfolio-single.html" class="dlink"><i class="fa fa-link"></i></a>
                                    <a href="http://placehold.it/700x430" class="popup-link zoom"><i class="fa fa-search-plus"></i></a>
                                </div>
                            </figure>
                        </div>
                   </div>

                   <div class="project-item design logo">
                        <div class="project-item-inner">
                            <figure class="alignnone project-img">
                                <img src="images/samples/work-img-2.jpg" alt="" />
                                <div class="overlay">
                                    <a href="portfolio-single.html" class="dlink"><i class="fa fa-link"></i></a>
                                    <a href="http://placehold.it/700x430" class="popup-link zoom"><i class="fa fa-search-plus"></i></a>
                                </div>
                            </figure>
                        </div>
                   </div>

                   <div class="project-item illustration design">
                        <div class="project-item-inner">
                            <figure class="alignnone project-img">
                                <img src="images/samples/work-img-3.jpg" alt="" />
                                <div class="overlay">
                                    <a href="portfolio-single.html" class="dlink"><i class="fa fa-link"></i></a>
                                    <a href="http://placehold.it/700x430" class="popup-link zoom"><i class="fa fa-search-plus"></i></a>
                                </div>
                            </figure>
                        </div>
                   </div>

                   <div class="project-item graphic">
                        <div class="project-item-inner">
                            <figure class="alignnone project-img">
                                <img src="images/samples/work-img-4.jpg" alt="" />
                                <div class="overlay">
                                    <a href="portfolio-single.html" class="dlink"><i class="fa fa-link"></i></a>
                                    <a href="http://placehold.it/700x430" class="popup-link zoom"><i class="fa fa-search-plus"></i></a>
                                </div>
                            </figure>
                        </div>
                   </div>

                   <div class="project-item design illustration">
                        <div class="project-item-inner">
                            <figure class="alignnone project-img">
                                <img src="images/samples/work-img-5.jpg" alt="" />
                                <div class="overlay">
                                    <a href="portfolio-single.html" class="dlink"><i class="fa fa-link"></i></a>
                                    <a href="http://placehold.it/700x430" class="popup-link zoom"><i class="fa fa-search-plus"></i></a>
                                </div>
                            </figure>
                        </div>
                   </div>

                   <div class="project-item graphic logo">
                        <div class="project-item-inner">
                            <figure class="alignnone project-img">
                                <img src="images/samples/work-img-6.jpg" alt="" />
                                <div class="overlay">
                                    <a href="portfolio-single.html" class="dlink"><i class="fa fa-link"></i></a>
                                    <a href="http://placehold.it/700x430" class="popup-link zoom"><i class="fa fa-search-plus"></i></a>
                                </div>
                            </figure>
                        </div>
                   </div>

                   <div class="project-item design illustration">
                        <div class="project-item-inner">
                            <figure class="alignnone project-img">
                                <img src="images/samples/work-img-7.jpg" alt="" />
                                <div class="overlay">
                                    <a href="portfolio-single.html" class="dlink"><i class="fa fa-link"></i></a>
                                    <a href="http://placehold.it/700x430" class="popup-link zoom"><i class="fa fa-search-plus"></i></a>
                                </div>
                            </figure>
                        </div>
                   </div>
                   
                </div>
                <!-- Project Feed / End -->

                <div class="container">
                    <div class="text-center">
                        <ul class="pagination-custom list-unstyled list-inline">
                            <li><a href="#" class="btn btn-sm btn-default">&laquo;</a></li>
                            <li><a href="#" class="btn btn-sm btn-primary">1</a></li>
                            <li><a href="#" class="btn btn-sm btn-default">2</a></li>
                            <li><a href="#" class="btn btn-sm btn-default">3</a></li>
                            <li><a href="#" class="btn btn-sm btn-default">4</a></li>
                            <li><a href="#" class="btn btn-sm btn-default">5</a></li>
                            <li><a href="#" class="btn btn-sm btn-default">&raquo;</a></li>
                        </ul>
                    </div>
                </div>

            </section>